---
const today = new Date();
---

<footer>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, illum.</p>
	&copy; {today.getFullYear()} YOUR NAME HERE. All rights reserved.
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>