---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
const today = new Date();
const { title, description, pubDate, updatedDate, heroImage, slug } = Astro.props;
const data = Astro.locals
const currentUser = data.user
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
        <Header />
        <main>
            <slot />
        </main>
        <footer>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, illum.</p>
            &copy; {today.getFullYear()} YOUR NAME HERE. All rights reserved.
           <p>{currentUser && currentUser.email}</p> 
        </footer>
		
	</body>
</html>
