---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
const today = new Date();
const { title, description, pubDate, updatedDate, heroImage, slug } = Astro.props;
const data = Astro.locals
const currentUser = data.user
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
        <Header />
        <main>
            <slot />
        </main>
        <footer>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, illum.</p>
            &copy; {today.getFullYear()} YOUR NAME HERE. All rights reserved.
           <small>{currentUser && currentUser.email}</p> 
        </footer>
		
	</body>
</html>


<style is:global>
    :root {
      --accent: 124, 58, 237;
      --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
    }
    html {
      font-family: system-ui, sans-serif;
      background-color: #F6F6F6;
    }
    html, body {
      height: 100%;
      width: 100%;
      padding: 0;
      margin: 0 auto;
    }
    code {
      font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
  </style>